.cover__subtitle {
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  z-index: 2;
  position: absolute;
  bottom: 254px;
  left: 412px;
  top: 429px;
  max-width: 360px;
  max-height: 66px;
  margin: 0;
  pointer-events: none;
}
