.lead__title {
  font-size: 6rem;
  line-height: 100px;
  text-align: center;
  font-weight: 900;
  margin: 0 132px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 104px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 16px;
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
  }
}
