.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.place__paragraph:first-child {
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}


@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 570px) {
  .place__paragraph {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
