.cover {
  width: 1184px;
  height: 740px;
  display: flex;
  position: relative;
  margin: 92px 48px 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin: 0;
  }
}

