.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 570px) {
  .place__link {
    font-size: 10px;
  }
}
