.cover__overlay {
  width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  object-fit: contain;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  text-decoration: none;
}



