.place__website {
  margin-right: 28px;
  margin-bottom: 0;
  max-height: 46px;
  align-self: end;
}

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 456px;
    margin: 0;
  }
}




@media screen and (max-width: 768px) {
  .place__website {
    max-width: 288px;
    margin: 0 16px;
  }
}


